;; shadow-cljs configuration
{:source-paths
 ["src/front"
  "src/shared"
  "test/front"]

 :dependencies
 [[reagent                     "1.1.1"]
  [re-frame                    "1.2.0"] 
  [day8.re-frame/http-fx       "0.2.4"]]

 :dev-http {8000 "resources/public"
            8021 "out/test"}

 :builds  {:app {:target     :browser
                 :output-dir "resources/public/js"
                 :asset-path "/js"
                 :modules    {:main {:entries [core]}}
                 :devtools   {:repl-init-ns   core
                              :repl-pprint    true}}

           :test {:target    :browser-test
                  :test-dir  "out/test"}}}
