body {
  margin:1em;
  padding:1em;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

img.clojureLogo { 
    width: 100px;
    height: 100px;
}