html,body {
  font-size: 14px;
}

.bottom-right {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 12px;
  max-width: 50%;
}

 /* The side navigation menu ----------------------------- */
 /* see https://www.w3schools.com/howto/howto_js_off-canvas.asp */

 .sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color:  rgb(245, 245, 245); 
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav .menu {  
  padding:1em 1em 1em 1em;
}
/* The navigation menu links */
.sidenav a {
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: rgb(232, 232, 232);
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main{
  transition: margin-left .2s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

/* ------------ Todo widget --------------*/

.todo-list-container {
  /*max-height: 250px;*/
  overflow: auto;
}
.mark-done {
  color: grey;
  text-decoration: line-through;
}
.mark-done .mdi-check {
  visibility: visible;
}
.mdi-check {
  visibility: hidden;
}
.todo-action {
  visibility: hidden;
  margin-right: 0px;
  margin-left: 0.75em;
}
.todo-action.todo-action-delete .mdi:hover,
.todo-action.todo-action-cancel .mdi:hover 
{
  color: red;
}
.todo-action.todo-action-edit .mdi:hover {
  color: blue;
}
.todo-action.todo-action-save .mdi:hover {
  color: green;
}
.panel-block:hover .todo-action {
  visibility: visible;
}




